/*
    Estilizando o header
*/
body,header,body{
    font-family: 'Open Sans', sans-serif;
}
.header{
    background: #162E47;
}

.nav-item .nav-link{
    font-weight: bold;
    color: white;
}

.alto-contraste{
    margin-right: 10px;
}

/* 
    Estilizando o main
*/



/*
    Banner Principal
*/
#banner{
    margin-top: 10px;
    align-content: center;
}
#banner-principal{
   width: 600px;
   height: 400px;
   background: #206494;
   float: left;
}


.titulo-banner-principal{
    font-weight: bold;
    color: white;
    font-size: 23px;
    margin-top: 5px;
    margin-left: 10px;
}

/*
    Sub banner
*/


.sub-imagens{
    width: 100px;
    height: 100px;
    display: inline-block;
}
.sub-titulo{
    display: inline-block;
}


/*
   Estilizando Rodape 
*/
.rodape{
    margin-top: 100px;
    
    width: 100%;
    background: #162E47;
}

.titulo-grid-radape{
    color: white;
    margin-top: 5px;
}
.sub-titulo{
    color: white;
    
}
/*
    Estilizando formulario
*/

.formulario{
    margin-top: 50px;
}
.fundo-preto-branco{
    background: black;
    color: blue;
}