/*
    Estilizando o header
*/

body,header,body{
    font-family: 'Open Sans', sans-serif;
}
.header{
    background: #162E47;
}


.menu ul li {
    display: inline-block;
    color: #ffffff;
    margin-left: 6px;
    height: 30px;
}

.menu ul li:hover {
    border-bottom: 3px solid #00bac6;
}

.menu ul li a:hover {
    color: #00bac6;
    
}

.menu ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
}
.menu {
width: 70%;
float: left;
}


.nav-item .nav-link{
    font-weight: bold;
    color: white;
}

.alto-contraste{
    margin-right: 10px;
}

/* 
    Estilizando o main
*/



/*
    Banner Principal
*/
#banner{
    margin-top: 10px;
    align-content: center;
}
#banner-principal{
   width: 600px;
   height: 400px;
   background: #206494;
   float: left;
}


.titulo-banner-principal{
    font-weight: bold;
    color: white;
    font-size: 23px;
    margin-top: 5px;
    margin-left: 10px;
}

/*
    Sub banner
*/


.sub-imagens{
    width: 100px;
    height: 100px;
    display: inline-block;
}
.sub-titulo{
    display: inline-block;
}


/*
   Estilizando Rodape 
*/
.rodape{
    margin-top: 100px;
    
    width: 100%;
    background: #162E47;
}

.titulo-grid-radape{
    color: white;
    margin-top: 5px;
}
.sub-titulo{
    color: white;
    
}
/*
    Estilizando formulario
*/

.formulario{
    margin-top: 50px;
}
.fundo-preto-branco{
    background: black;
    color: blue;
}
/*
    Estilizando calculadora
*/
.calculadora{
    margin-top: 200px;
}


/*
    Estilizando Todas Noticias
*/


.box {
    transition: box-shadow .3s;
    width: 700px;
    height: 150px;
    margin: 50px;
    border-radius:20px;
    background: #fff;
    float: center;
    
  }
  .box:hover {
    box-shadow: 0 0 20px rgba(80, 79, 79, 0.2); 
  }
 .box a {
    color: #11694c;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}