/*
    Estilizando o header
*/

body,header{
    font-family: 'Montserrat', sans-serif;  
}

.header{
   background: #162E47;
 
}

.menu ul li {
    display: inline-block;
    color: #162E47;
    margin-left: 25px;
    height: 10px;   
}

.menu ul li:hover {
    border-bottom: 3px solid #00bac6;
}

.menu ul li a:hover {
    color: #00bac6;
    
}

.menu ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
}

.menu {
    width: 70%;
    float: left;
    margin-top: 5px;
}


.nav-link{
    font-weight: 600;
    color: white;  
}



/* 
    Estilizando o main
*/



/*
    Banner Principal
*/
#banner{
    margin-top: 10px;
    align-content: center;
}

#banner-principal{
   width: 600px;
   height: 400px;
   background: #206494;
   float: left;
}


.titulo-banner-principal{
    font-weight: bold;
    color: white;
    font-size: 23px;
    margin-top: 5px;
    margin-left: 10px;
}

/*
    Sub banner
*/


#sub-banner-card{
    min-height: 120px;
    margin: 10px;
}


/*
   Estilizando Rodape 
*/
.rodape{
    margin-top: 100px;
    
    width: 100%;
    background: #162E47;
}

.titulo-grid-radape{
    color: white;
    margin-top: 5px;
}
.sub-titulo{
    color: white;
    
}
/*
    Estilizando formulario
*/

.formulario{
    margin-top: 15px;
    margin-left:400px;
    
}
.fundo-preto-branco{
    background: black;
    color: blue;
}

.textotfaleconosco{
    margin-top: 15px;
    margin-left:230px;

}


/*
    Estilizando calculadora
*/
.calculadora{
    margin-top: 200px;
}

#mostrarResultado{
    margin-top: 30px;
    font-weight: bold;
}


/*
    Estilizando Todas Noticias
*/


.box {
    transition: box-shadow .3s;
    width: 700px;
    height: 150px;
    margin: 50px;
    border-radius:20px;
    background: #fff;
    float: center;
    
  }
  .box:hover {
    box-shadow: 0 0 20px rgba(80, 79, 79, 0.2); 
  }
 .box a {
    color: #11694c;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}


/*
    pagina de Todas as Notícias
*/

.noticia {
font: normal 12 px Arial, serif;
text-align: justify;
margin-left: 55px;


}


.my-container{
border: 1px solid green;
background: #162E47;
margin-left: 850px;
margin-right: 20px;
}

/*
Pagina Post do site
*/

.titlepost h1, h2, p{
    font-family: 'Montserrat', sans-serif;
}

.titlepost h1{
    font-size: 35px;
    font-weight: 900;
    line-height: 40px;
    margin-top: 20px;
    color: #3D3D3D;
}

.conteudo h2{
    font-size: 22px;
    font-weight: 800;
    color: #3D3D3D;
    line-height: 27px;
    margin-bottom: 30px;
}

.autor p{
    font-weight: normal;
    color: #3D3D3D;
}

.conteudo p{
    color: #3F3F3F;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin: 10px 0 20px 0;
}

.footerpt{
margin-top: 50px;
}

.footerpt a{
    text-decoration: none;
    color: #17324e;
}

a:hover{
    color: #206494;
}

.footerpt p{
    color: #3F3F3F;
    font-size: 15px;
    margin: 0px auto;
}

/*
    Estilizando paragrafos artigo

*/

